/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/src/assets/shade.jpg");
    background-repeat: no-repeat;
    background-attachment: none;

  }
  img {
      height: 21px;
      width:31px;
      top:15px;
      left: 83% ;
      position:absolute;
      border-radius: 100%;
      opacity:40%;
  }
  select {
      font-size: 12px;
      position: absolute;
      background:white;
      top:15px;
      left: 18%;
      height:20px;
      width: 150px;
      border: none;
      outline: none;
      margin: none;
  }
  .btn {
      top:45px;
      left:80%;
      position: absolute;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
   }
  .pro {
      background:white;
      top:50px;
      left:260px;
      position: absolute;
      height: 48px;
      width:1000px;
  }
  .assign {
      outline:none;
      border: none;
      background:white;
      height: 550px;
      width: 1000px;
      top:15%;
      left:none;
      position: absolute;
      opacity: 90%;
    }
  .assign input {
  color: blue;
  top:3px;
  left:55%;
  position:absolute;
  border:none;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline: none;
  background: white;
  }
  .assign input[type="button"] {
      border-radius: 20px;
      width:120px;
      height: 30px;
      background: white;
  }
  .assign1 input {
  color: blue;
  top:10px;
  left:70%;
  position:absolute;
  border:none;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline: none;
  background: white;
  }
  .assign1 input[type="button"] {
      border-radius: 20px;
      width:120px;
      height: 30px;
  }
  .assign2 {
  color:white;
  top:0px;
  left:none;
  position:absolute;
  border:none;
  outline: none;
  }
  .assign2 input[type="button"] {
      border-radius:none;
      border: none;
      background: blue;
      color:white;
      width:120px;
      height: 48px;
  }
  .date {
      height: 20px;
      width: 120px;
      border: none;
      outline: none;
      position: absolute;
      top: 10px;
      left: 350px;
      
  }
  .img1 {
      height: 21px;
      width:31px;
      top:2px;
      left: 12%;
      position: relative;
      opacity:100%;
      
  }
  .p input {
      width:100px;
      height: 30px;
      border: none;
      outline: none;
      top: 60px;
      left: 10px;
      background:rgba(255,255,255,0.1);
      position: absolute;
      opacity: 80%;
      
  }
  .queu {
      top: 100px;
      left:40px;
      position: absolute;
     
  }
  .queu input {
      height: 33px;
      width: 115px;
      border-radius: 8px;
      outline:none;
      border: none;
      background: blue;
      color: white;
  }
  .earlier {
      top: 100px;
      left:160px;
      position: absolute;
  }
  .earlier input{
      height: 33px;
      width: 115px;
      border-radius: 8px;
      outline:none;
      border: none;
      background: blue;
      color: white;
  }
  .list {
      top: 100px;
      left:280px;
      position: absolute;
  }
  .list input {
      height: 33px;
      width: 115px;
      border-radius: 8px;
      outline:none;
      border: none;
      background: blue;
      color: white;
  }
  .show {
      top: 100px;
      left:400px;
      position: absolute;
  }
  .show input  {
      height: 33px;
      width: 115px;
      border-radius: 8px;
      outline:none;
      border: none;
      background: blue;
      color: white;
  }
  i{
    margin-right: 8px;
    color: black;
    position: absolute;
    top:17px;
    left: 833px;
  }
  .menu {
    padding: 10;
    margin: 0px;
    position: absolute;
    top:100px;
    left: 20px;
    background: rgba(0,100,0);
    text-align: center;
  }
  * {
    padding: 0;
    margin: 0;
  }
  #table {
      position: absolute;
      top: 150px;
      left: 0px;
      font-size: 15px;
      
      border: px solid;
      border-collapse: collapse;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
      
  }
  
 #tab {
    font-size: 15px;
    text-align: center;

}
#jhon {
    font-size: 15px;
    text-align: center;
}

#emma {
    font-size: 15px;
    text-align: center;
}
#girl {
    font-size: 15px;
    text-align: center;
    
}
#table th,#tab td,#jhon td,#emma td ,#girl td {
    border: 0.1px solid #ddd;
    padding: 10px;
}
pre {
    opacity: 40%;
}

.day
{
    background:pink;
    width: 1000px;
    height: 700px;
    top: 50px;
    left: 260px;
    position: absolute;
}
  table
  {
      border: 1px solid black;
      width: 180px;
      height: 50px;
      top: 70px;
      left: 240px;
      position: absolute;
      
  }
  #t1
  {
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: -1px;
    left: 200px;
    position: absolute;
  }
  #t2
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: -1px;
    left: 400px;
    position: absolute;
}
#t3
{
    border: 1px solid black;
    width: 176px;
    height: 47px;
    top: 60px;
    left: 0px;
    position: absolute;
}
#t4
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 60px;
    left: 200px;
    position: absolute;
}
#t5
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 60px;
    left: 400px;
    position: absolute;
}
#t6
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 180px;
    left: 0px;
    position: absolute;
}
#t7
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 180px;
    left: 200px;
    position: absolute;
}
#t8
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 180px;
    left: 400px;
    position: absolute;
}
#t9
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 245px;
    left: 0px;
    position: absolute;
}
#t10
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 245px;
    left: 200px;
    position: absolute;
}
#t11
{
    border: 1px solid black;
    width: 180px;
    height: 47px;
    top: 245px;
    left: 400px;
    position: absolute;
}
  p
  {
      top: 60px;
      left: 290px;
      position: absolute;
  }
  #eve
  {
    top: 250px;
    left: 290px;
    position: absolute;
  }
  #evening
  {
    top: 280px;
    left: 290px;
    position: absolute;
    opacity: 40%;
  }
  #p1
  {
    top: 90px;
    left: 290px;
    position: absolute;
    opacity: 40%;
  }
  i{
    margin-right: 8px;
    color: black;
    position: absolute;
    top:17px;
    left: 750px;
    color: blue;
  }
  #p2
  {
    top: 17px;
    left: 770px;
    position: absolute;
    color: blue;
  }
  .radio
  {
      top:150px;
      left:500px;
      position: absolute;
      border: 2px solid #000;
  }
  #p3
  {
    top: 135px;
    left: 520px;
    position: absolute;
  }
  .radio1
  {
    top:150px;
    left:700px;
    position: absolute;
    border: 2px solid #000;
  }
  #p4
  {
    top: 135px;
    left: 720px;
    position: absolute;
  }
  .radio2{
    top:150px;
    left:900px;
    position: absolute;
    border: 2px solid #000;
  }
  #p5
  {
    top: 135px;
    left: 920px;
    position: absolute;
  }
  .radio3
  {
    top:210px;
    left:500px;
    position: absolute;
    border: 2px solid #000;
  }
  #p6
  {
    top: 195px;
    left: 520px;
    position: absolute;
  }
  .radio4
  {
    top:210px;
    left:700px;
    position: absolute;
    border: 2px solid #000;
  }
  #p7
  {
    top: 195px;
    left: 720px;
    position: absolute;
   
  }
  .radio5
  {
    top:210px;
    left:900px;
    position: absolute;
    border: 2px solid #000;
  }
  #p8
  {
    top: 195px;
    left: 920px;
    position: absolute;
  }
  hr
  {
    position: absolute;
    top: 250px;
    left: 270px;
    width: 850px;
  }
  .radio6
  {
    top:330px;
    left:500px;
    position: absolute;
    border: 2px solid #000;
  }
  #p9
  {
    top: 315px;
    left: 520px;
    position: absolute;
  }
  .radio7
  {
    top:330px;
    left:700px;
    position: absolute;
    border: 2px solid #000;
  }
  #p10
  {
    top: 315px;
    left: 720px;
    position: absolute;
  }
  .radio8
  {
    top:330px;
    left:900px;
    position: absolute;
    border: 2px solid #000;
  }
  #p11
  {
    top: 315px;
    left: 920px;
    position: absolute;
  }
  .radio9
  {
    top:390px;
    left:500px;
    position: absolute;
    border: 2px solid #000;
  }
  #p12
  {
    top: 375px;
    left: 520px;
    position: absolute;
  }
  .radio10
  {
    top:390px;
    left:700px;
    position: absolute;
    border: 2px solid #000;
  }
  #p13
  {
    top: 375px;
    left: 720px;
    position: absolute;
  }
  .radio11
  {
    top:390px;
    left:900px;
    position: absolute;
    border: 2px solid #000;
  }
  #p14
  {
    top: 375px;
    left: 920px;
    position: absolute;
  }
  #plus{
    margin-right: 8px;
    color: black;
    position: absolute;
    top:270px;
    left: 1000px;
    color: blue;
  }
  #p15
  {
    top: 270px;
    left: 1020px;
    position: absolute;
    color: blue;
  }
  .date1
  {
    height: 20px;
      width: 120px;
      border: none;
      outline: none;
      position: absolute;
      top: 70px;
      left: 500px;
   }
